workflows/01-kb-ingestion.json
{
  "name": "01 - KB Ingestion",
  "nodes": [
    {
      "parameters": {},
      "id": "a1000001-0001-4001-8001-000000000001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "fileSelector": "/data/knowledge-base/**/*.md",
        "options": {}
      },
      "id": "a1000001-0001-4001-8001-000000000002",
      "name": "Read KB Files",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [220, 300]
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "mode": "id",
          "value": "support_kb"
        },
        "options": {
          "collectionConfig": {
            "vectors": {
              "size": 768,
              "distance": "Cosine"
            }
          }
        }
      },
      "id": "a1000001-0001-4001-8001-000000000003",
      "name": "Qdrant Insert",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.2,
      "position": [440, 300],
      "credentials": {
        "qdrantApi": {
          "id": "QDRANT_CREDENTIAL_ID",
          "name": "Qdrant Local"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text",
        "options": {
          "dimensions": 768
        }
      },
      "id": "a1000001-0001-4001-8001-000000000004",
      "name": "Embeddings OpenAI (Ollama)",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [280, 520],
      "credentials": {
        "openAiApi": {
          "id": "OLLAMA_OPENAI_CREDENTIAL_ID",
          "name": "Ollama OpenAI Compatible"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "source",
                "value": "={{ $json.fileName }}"
              },
              {
                "name": "category",
                "value": "={{ ($json.fileName || '').includes('/billing/') ? 'billing' : ($json.fileName || '').includes('/technical/') ? 'technical' : 'product' }}"
              }
            ]
          }
        }
      },
      "id": "a1000001-0001-4001-8001-000000000005",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [580, 520]
    },
    {
      "parameters": {
        "chunkSize": 800,
        "chunkOverlap": 100,
        "options": {}
      },
      "id": "a1000001-0001-4001-8001-000000000006",
      "name": "Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [720, 720]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "summary",
              "name": "status",
              "value": "ingestion_complete",
              "type": "string"
            },
            {
              "id": "message",
              "name": "message",
              "value": "Knowledge base ingested into Qdrant collection support_kb",
              "type": "string"
            },
            {
              "id": "collection",
              "name": "collection",
              "value": "support_kb",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1000001-0001-4001-8001-000000000007",
      "name": "Ingestion Summary",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [660, 300]
    },
    {
      "parameters": {
        "content": "## KB Ingestion Pipeline\n\nRun this workflow **once** after starting the stack to seed the Qdrant vector store.\n\n1. Configure credentials: Qdrant Local, Ollama OpenAI Compatible\n2. Click **Execute Workflow**\n3. Verify collection `support_kb` in Qdrant (http://localhost:6333/dashboard)",
        "height": 280,
        "width": 400,
        "color": 3
      },
      "id": "a1000001-0001-4001-8001-000000000008",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-40, 80]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read KB Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read KB Files": {
      "main": [
        [
          {
            "node": "Qdrant Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Insert": {
      "main": [
        [
          {
            "node": "Ingestion Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI (Ollama)": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Insert",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Insert",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "pinData": {}
}
